{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content">
    <div class="main-content">
        <h1>All your money in one place</h1>
        <p>This app tracks your income, debt, and expenses, and helps
        you to set a budget and track your progress. It also lets
        you monitor your credit score and receive personalized
        financial recommendations.</p>
        <div class="buttons">
            <button>Get Started</button>
            <button>Request a Demo</button>
        </div>
    </div>
    <div class="mobile-illustration">
        <img src="{% static 'images/Mobile.png' %}" alt="Mobile Illustration">
    </div>
</div>

<div class="section">
    <div class="section-title">
        <p>Show you real-time credit score</p>
        <h1>Spend less time worrying and more time living life.</h1>
    </div>

    <div class="features">
        <div class="feature">
            <div class="icon"><i class="fas fa-calculator"></i></div>
            <h3>Calculate your budget</h3>
            <p>We bring together all of your accounts, bills, and
            more, so you can conveniently manage your
            finances from one platform.</p>
        </div>
        <div class="feature">
            <div class="icon"><i class="fas fa-chart-bar"></i></div>
            <h3>Generate monthly reports</h3>
            <p>We bring together all of your accounts, bills, and
            more, so you can conveniently manage your
            finances from one platform.</p>
        </div>
        <div class="feature">
            <div class="icon"><i class="fas fa-clock"></i></div>
            <h3>Real-time tracker</h3>
            <p>We bring together all of your accounts, bills, and
            more, so you can conveniently manage your
            finances from one platform.</p>
        </div>
    </div>
</div>

<div class="keep-budget">
    <div class="text">
        <h3>Keep your budget under control</h3>
        <p>This app tracks your income, debt, and expenses, and helps
        you to set a budget and track your progress. It also lets
        you monitor your credit score and receive personalized
        financial recommendations.</p>
    </div>
    <div class="card">
        <img src="https://www.flaticon.com/svg/static/icons/svg/1577/1577633.svg" alt="Card Illustration">
        <h3>Dollar Balance</h3>
        <p>32,540.00</p>
    </div>
</div>
{% endblock %}
